# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd


# Ignore environment
.env
.env.*

# Ignore git
.git
.gitignore

# Ignore frontend build and node_modules
frontend/node_modules
frontend/dist
node_modules

# Ignore editor folders
.vscode
.idea
